:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite)!important;
}